body{
    padding: 0;
    margin: 20px;
}
header{
    width: 100%;
  top: 0;
  display:inline-block;
  border: solid #FF0000;
  margin: 20px;

    -webkit-border-radius: 5px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
  header img{
    width: 100px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

main div{
		border: 2px solid #dd4b39;
	  text-align: justify;
	  padding: 10px;
	}
		#izquierda{
			float: left;
		}
		#izquierda{
			float: center;
		}
		#izquierda{
			float: right;
		}

footer ul{
  list-style: none;
}
