body{
	padding: 0;
	margin: 0;
	width : 800px;
	margin-left : auto;
	margin-right : auto;
	font-family: arial, sans-serif;

	  background: url("../img/logo2.jpg") no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  background-color: rgba(255, 255, 255, 0.4);
	  background-blend-mode: soft-light;

}

header{
  background-color: #E45353;
  width: 100%;
  top: 0;
  display:inline-block;


  -webkit-border-radius: 5px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
}	
	#ufps{
		float: left;
		width: 400px;
	}
	header img {
	float: right;
    width: 100px;
    margin: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  header p{
  	margin-top: 180px;
  	margin-right: 20px;
  	text-align: right;

  }


div .botones{


}
	div ul{
		width: 100%;
	    list-style: none;
	    display: flex;
	    float: none;
	    padding: 0;
	    justify-content: space-around;
	}

	div	ul button{
		background-color: #FF0000;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: 0.4s;
        opacity: 0.6;
        -webkit-border-radius: 5px;
        -moz-border-radius: 10px;
        border-radius: 10px; 
	}
	div ul button:hover{
		opacity: 1;
	}

main{
	border: solid #FF0000;	
	-webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px; 

    background-color: #FFFFFF;

    display: block;
    padding: 50px;
    margin: 20px;
}

main .datos{

}
	main div h1{
		text-align: left;
		margin-left: 20px;
	}
	main div table{		
		border-collapse: collapse;
		width: 100%;


	}
	main div  table td, th {
	  border: 2px solid #dd4b39;
	  text-align: justify;
	  padding: 10px;
	}
	main div table img {
	margin: auto;
    width: 100px;
    margin: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	}
	